{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def aggregate_and_count(items:list) -> dict:
    # your code here
    return {}
{% endblock start %}

{% block example %}
print('Example:')
print(aggregate_and_count([['a', 1], ['b', 2], ['c', 3], ['a', 5]]))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}aggregate_and_count({{t.input}})
{% endblock %} == {% block result %}{{t.answer}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The aggregation is done! Click 'Check' to earn cool rewards!")
{% endblock final %}